/* style.css */
body{
    background-color: #FFFF;
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #3586ff;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: left;
    font-size: 2em;
    padding-left: 10%;
}

.header p {
    margin-left: 20px;
}

.logout {
  margin-right: 50px;
}

.logout button {
  padding: 20px;
  font-size: x-large;
}


.menu{
    display: flex;
    flex-direction: column;
}

.calendar {
    border: solid 1px #777;
    width: 800px;
    height: 600px;
    overflow: hidden; /* Pour empêcher le défilement */
}

#planning {
    margin-top: 50px;
}

#form {
    width: 35%;

}

#structure {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-evenly;
    margin-top: 10px;
}

.container {
    width: auto;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.financialTable {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

td {
  color: #3586ff;
  padding: 20px;
  padding-left: 50px;
}

.budget {
  margin: 50px;
  align-items: center;
}

.budget h2 {
  margin: auto;
}

button {
    margin: auto;
    padding: 3%;
    margin-bottom: 10%;
    border-radius: 30px;
    border: white;
    color: white;
    background-color: #03045e;
    cursor: pointer;
    transition: ease 500ms;
}

button:hover {
    background-color: #a2d2ff;
    box-shadow: 5px 4px 27px -3px rgba(0,0,0,0.69);
    color: black;
    border: black 1px;
}

/*Style boutons du form*/
/* Styliser l'étiquette associée à chaque bouton radio */
input[type="radio"] + label {
    padding: 10px; /* Appliquer un padding autour du texte de l'étiquette */
    margin: 5px; /* Espacement autour de chaque étiquette */
    background-color: #f4f4f4; /* Couleur de fond pour visualiser le padding */
    display: inline-block; /* Assure que le padding est appliqué correctement */
    border-radius: 5px; /* Arrondir les coins de l'étiquette */
}

/* Styliser le bouton radio lui-même pour qu'il apparaisse mieux aligné */
input[type="radio"] {
    margin-right: 5px; /* Espacer le bouton radio de son étiquette */
}


.financial {
    background-color: #eee;
    color: #555;
}

.toDo {
    background-color: #eee;
    color: #555;
}

.alert {
    color: #d9534f;
    padding: 10px;
    margin-top: 10px;
    background-color: #f2dede;
    border: 1px solid #d9534f;
    border-radius: 5px;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.timeline div {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    flex-basis: 21%; /* Adjusts the number of items in a row */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart { 
	display: grid;

	border: 2px solid #000;  
	position: relative;  
	overflow: hidden; 
}

.chart-row {  
	display: grid; 
	grid-template-columns: 50px 1fr; 
	background-color: #DCDCDC;
}

.chart-period { 
	color:  #fff;  
	background-color:  #708090 !important;  
	border-bottom: 2px solid #000;  
	grid-template-columns: 50px repeat(12, 1fr);

}

.chart-period > span {
	text-align: center;  
	font-size: 15px;  
	align-self: center;  
	font-weight: bold;  
	padding: 15px 0;   
}

.chart-lines { 
	position: absolute;  
	height: 100%;  
	width: 100%;  
	background-color: transparent;  
	grid-template-columns: 100px repeat(12, 1fr);}

.chart-lines > span {  
	display: block;  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.chart-row-item { 
	background-color: #808080;  
	border: 1px solid #000;  
	border-top: 0;  border-left: 0;  
	padding: 20px 0;  font-size: 15px;  
	font-weight: bold;  
	text-align: center;
}

.chart-row-bars { 
	list-style: none; 
	display: grid;  padding: 15px 0;  
	margin: 0;  
	grid-template-columns: repeat(12, 1fr); 
	grid-gap: 10px 0;  
	border-bottom: 1px solid #000;
}

li {  
    font-weight: 450;  
    text-align: left;  
    font-size: 15px;  min-height: 15px;  
    background-color: #708090;  
    padding: 5px 15px;  color: #fff;  
    overflow: hidden;  
    position: relative;  
    cursor: pointer;  
    border-radius: 15px;
 } 
 
 ul .chart-li-one { 
 	grid-column: 1/2;  
        background-color: #588BAE;
 }
/* Task list */

.tasksViewer {
    display: flex;
    flex-direction: column;
}

.tasksViewer table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tasksViewer th {
    background-color: #e9ecef;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.tasksViewer td {
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

.tasksViewer tr:hover {
    background-color: #f8f9fa;
}






/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .timeline div {
        flex-basis: 48%; /* More space for each item on smaller screens */
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
    
  .footer {
    margin-top: 250px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
    background-position-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
    background-position-x: 0px;
    }
  }
