body{
    background-color: #FFFF;
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%;
}


h2{
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
}

label {
    margin-bottom: 5px;
}

label span {
    color: red;
}
form{
    padding: 1 em;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transitiANn: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
    margin-top: 2px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.logo_container{
    position: absolute;
    left: 1em;
    top: 1em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('..\\ressources\\Images\\image_100_100.png');
    background-size: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid4by4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
}

.grid2b1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8em;
    margin-top: 1em;
}

.gridElement{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.gridElement:hover{
    background-color: #f33333;
}

.formContainer{
    display: flex;
    background-color: #FFFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
    min-width: 400px;
    margin: 0 auto;
    height: fit-content;
    padding: auto;
}

.formShadow{
    -webkit-box-shadow: -9px 1px 15px -2px rgba(0,0,0,0.5); 
    box-shadow: -9px 1px 15px -2px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 1em;
}

.form-group{
    margin-bottom: 1em;
}

.blur{
    filter: blur(5px);
}
