<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../CSS/homePageStyle.css">
<title>Dashboard</title>
</head>
<body>
<script>
    // Vérifier si la session est active
    if (sessionStorage.getItem('logged_in')) {
        // Rediriger l'utilisateur vers la page de connexion
        window.location.href = "../view/loginView.html";
    }
</script>

<div class="header">
    <div class="title">
    <h1>Dashboard</h1>
    <p>Welcome, <span id="userFullName"></span></p>
    </div>
    <div class="logout">
    <button type="submit">Log Out</button>    
    </div>
</div>

<script>
var userFirstName = "<?php echo $userFirstName; ?>";
var userLastName = "<?php echo $userLastName; ?>";

// Concaténer les variables JavaScript pour former le nom complet de l'utilisateur
var userFullName = userFirstName + " " + userLastName;

// Insérer le nom complet de l'utilisateur dans la balise <span> avec l'identifiant 'userFullName'
document.getElementById("userFullName").textContent = userFullName;
</script>

<div class="container" id="planning">
    <h2>Planning</h2>
    <iframe class="calendar" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FParis&bgcolor=%23ffffff&src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23009688"></iframe>
    <div class="chart">
        <div class="chart-row chart-period">
            <div class="chart-row-item">
                </div><span>January</span><span>February</span><span>March</span>
                <span>April</span><span>May</span><span>June</span><span>July</span>
                <span>August</span><span>September</span><span>October</span>
                <span>November</span><span>December</span>
            </div>
            <div class="chart-row chart-lines"> 
                <span></span><span></span><span></span>
                <span></span><span></span><span></span>
                <span></span><span></span><span></span>
                <span></span><span></span>	<span></span>    
            </div>
            <div class="chart-row">  
                <div class="chart-row-item">1</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Planning</li>
                </ul>
                <div class="chart-row-item">2</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>
                <div class="chart-row-item">3</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>
                <div class="chart-row-item">4</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>
                <div class="chart-row-item">5</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>    
            </div>
    </div>
</div>

<div id="structure">
<div class="container" id="form">
    <h2>Add a task</h2>
    <form action="../PHP_controller/homepageController.php" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br><br>

        <label for="type">Type :</label>
        <select id="type" name="type" required>
            <option value="">Select a value</option>
            <option value="1">Graphism</option>
            <option value="2">Documentation</option>
            <option value="3">Requirements</option>
            <option value="4">Development</option>
        </select><br><br>

        <label for="pastel1">Couleur :</label> <br>
    <input type="radio" id="pastel1" name="couleur" value="0">
    <label for="pastel1" style="background-color: #fde2e4; padding: 10px; border: 1px solid #000;">Pivoine   </label><br>
    <input type="radio" id="pastel2" name="couleur" value="1">
    <label for="pastel2" style="background-color: #accbe1; padding: 10px; border: 1px solid #000;">Myosotis  </label><br>
    <input type="radio" id="pastel3" name="couleur" value="2">
    <label for="pastel3" style="background-color: #9fd8df; padding: 10px; border: 1px solid #000;">Hortensia </label><br>
    <input type="radio" id="pastel4" name="couleur" value="3">
    <label for="pastel4" style="background-color: #97c1a9; padding: 10px; border: 1px solid #000;">Eucalyptus</label><br>
    <input type="radio" id="pastel5" name="couleur" value="4">
    <label for="pastel5" style="background-color: #e4cbf8; padding: 10px; border: 1px solid #000;">Lotus     </label><br><br>

        <label for="dateDebut">Date de début :</label>
        <input type="date" id="dateDebut" name="dateDebut" required><br><br>

        <label for="dateFin">Date de fin :</label>
        <input type="date" id="dateFin" name="dateFin" required><br><br>

        <label for="tempsEstime">Temps estimé (en heures) :</label>
        <input type="number" id="tempsEstime" name="tempsEstime" min="0" step="0.5" required><br><br>

        <button type="submit">Ajouter un tache </button>
    </form>
</div>

<div class="container tasksViewer" id="tasksViewer">
    <h2>Tasks</h2>
    <table>
        <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Progress</th>
            <th>State</th>
            <th>Assignee</th>
        </tr>

        <tr>
            <td>Task 1</td>
            <td>01/01/2021</td>
            <td>50%</td>
            <td>Done</td>
            <td>Lucas Brana</td>
        </tr>

    </table>
    <script src="../JS/TaskRecuperator.js"></script>
       
</div>
</div>

<div class="container" id="financial">


</div>

<footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <p>&copy;2024 Barut Benhamou Brana | All Rights Reserved for ESTIA - Project TAI Limited&copy;</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
