<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../CSS/homePageStyle.css">
<title>Dashboard</title>
</head>
<body>

<div class="header">
    <h1>Dashboard</h1>
    <p>Welcome, Lucas Brana</p>
</div>

<div class="container form">
    <form action="/chemin/vers/le/script-de-traitement" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required><br><br>

        <label for="type">Type :</label>
        <select id="type" name="type" required>
            <option value="">Graphism</option>
            <option value="Documentation">Documentation</option>
            <option value="Requierments">Requirements</option>
            <option value="Development">Development</option>
        </select><br><br>

        <label for="couleur">Couleur :</label>
        <input type="color" id="couleur" name="couleur"><br><br>

        <label for="dateDebut">Date de début :</label>
        <input type="date" id="dateDebut" name="dateDebut" required><br><br>

        <label for="dateFin">Date de fin :</label>
        <input type="date" id="dateFin" name="dateFin" required><br><br>

        <label for="tempsEstime">Temps estimé (en heures) :</label>
        <input type="number" id="tempsEstime" name="tempsEstime" min="0" step="0.5" required><br><br>

        <button type="submit">Ajouter un tache </button>
    </form>
</div>

<div class="container planning">
    <h2>Planning</h2>
    <div class="chart">
        <div class="chart-row chart-period">
            <div class="chart-row-item">
                </div><span>January</span><span>February</span><span>March</span>
                <span>April</span><span>May</span><span>June</span><span>July</span>
                <span>August</span><span>September</span><span>October</span>
                <span>November</span><span>December</span>
            </div>
            <div class="chart-row chart-lines"> 
                <span></span><span></span><span></span>
                <span></span><span></span><span></span>
                <span></span><span></span><span></span>
                <span></span><span></span>	<span></span>    
            </div>
            <div class="chart-row">  
                <div class="chart-row-item">1</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Planning</li>
                </ul>
                <div class="chart-row-item">2</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>
                <div class="chart-row-item">3</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>
                <div class="chart-row-item">4</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>
                <div class="chart-row-item">5</div> 
                <ul class="chart-row-bars">    
                    <li class="chart-li-one">Exercute</li>
                </ul>    
            </div>
    </div>
</div>

<div class="container tasksViewer">
    <h2>Tasks</h2>
    <table>
        <tr>
            <th>Task</th>
            <th>Deadline</th>
            <th>Progress</th>
            <th>State</th>
            <th>Assignee</th>
        </tr>

        <tr>
            <td>Task 1</td>
            <td>01/01/2021</td>
            <td>50%</td>
            <td>Done</td>
            <td>Lucas Brana</td>
        </tr>

    </table>
    <script src="../JS/TaskRecuperator.js"></script>
       
</div>
</body>
</html>
